.menucontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.menucontainer img{
    width: 10%;
}

.menucontainer .navbar a:hover{ 
    color: red;
}
.menucontainer .navbar a{
    font-family: sans-serif;
    font-weight: 800;
    padding-right: 10px;
    text-align: right;
    color: black;
    text-decoration: none;
}
a:hover{
    color: red;
}
.contenido{
    justify-content: center;
    text-align: center;
    margin: 0 5px;
    font-family: sans-serif;
    color: white;
    justify-content: center;
    background-color: #7c0a02 ;
}
.contenido img{
    object-fit: cover;
    height: 400px;
}

